<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layouts/head.ejs')%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include('../../layouts/header.ejs')%>
      <!-- Left side column. contains the logo and sidebar -->
      <%- include('../../layouts/sidebar.ejs')%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%-include('../../layouts/content-header.ejs')%>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <!-- /.box -->

              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table
                    id="example1"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên đơn vị</th>
                        <th>Giá</th>
                        <th>Logo</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Tùy chọn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% ships.forEach((ship, index)=>{ %>
                      <tr>
                        <td><%- index+1 %></td>
                        <td><%-ship.name%></td>
                        <td><%-ship.price%></td>
                        <td><img width=70 src="uploads/ship/<%-ship.logo%>" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></td>
                        <td><%-ship.createdAt%></td>
                        <td><%-ship.updatedAt%></td>
                        <td>
                          <a class="btn btn-warning" href="/ship/update/<%-ship._id%>">Sửa</a>
                          <a
                          class="btn btn-danger"
                            href="/ship/delete/<%-ship._id%>"
                            onclick="return confirm('xác nhận xóa')"
                            >Xóa</a
                          >
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>STT</th>
                        <th>Tên đơn vị</th>
                        <th>Giá</th>
                        <th>Logo</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhật</th>
                        <th>Tùy chọn</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%- include('../../layouts/footer.ejs')%>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <%-include('../../layouts/script.ejs')%>
  </body>
</html>
