<!DOCTYPE html>
<html lang="zxx">

<head>
    <%-include('../layouts/head.ejs')%>
</head>

<body>
    

    <%-include('../layouts/header.ejs')%>

    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Trang chủ</a>
                        <span>Chi tiết sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <% if (message) { %>
                <div class="alert alert-<%=message.type%>"><%= message.message %></div>
            <% } %>
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                        <% detail.images.forEach((image, index)=>{%>
                            <a class="pt" href="#product-<%=index+1%>">
                                <img src="/uploads/product/<%=image.image%>" alt="">
                            </a>
                        <% }); %>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                            <% detail.images.forEach((image, index)=>{%>
                                <img  data-hash="product-<%=index+1%>" class="product__big__img" src="/uploads/product/<%=image.image%>" alt="">
                            <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                <form method=POST action="/cart">
                <%# start input hidden --------------------------------------%>
                    <input name="id" type="hidden" value="<%=detail.detail._id%>" />
                    
                    <input name="image" type="hidden" value="<%=detail.detail.image%>" />
                    <input name="name" type="hidden" value="<%=detail.detail.name%>" />
                    <% if(detail.detail.promotion_id && ((detail.detail.promotion_id.start_date).valueOf() < (Date.now().valueOf())) && ((detail.detail.promotion_id.end_date).valueOf() > (Date.now().valueOf())) && detail.detail.promotion_active===true){%>
                        <input name="price" type="hidden" value="<%=detail.detail.price_old*(100-detail.detail.promotion_id.percent)/100%>" />
                        <input name="promotion" type="hidden" value="<%=detail.detail.promotion_id.percent%>" />
                    <%}else if(detail.detail.status==1) { %>
                        <input name="price" type="hidden" value="<%=detail.detail.price%>" />

                    <% } else { %>
                        <input name="price" type="hidden" value="<%=detail.detail.price_old%>" />

                    <% } %>
                <%# End input hidden --------------------------------------%>
                    <div class="product__details__text">
                        <h3><%=detail.detail.name%> <span>Thương hiệu: <%=detail.detail.brand_id.name%></span></h3>
                        <!--<div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div> -->
                        <div class="product__details__price">
                        <% if(detail.detail.promotion_id && ((detail.detail.promotion_id.start_date).valueOf() < (Date.now().valueOf())) && ((detail.detail.promotion_id.end_date).valueOf() > (Date.now().valueOf())) && detail.detail.promotion_active===true){%>
                            <%=(detail.detail.price_old*(100-detail.detail.promotion_id.percent)/100).toLocaleString()%> vnđ
                            <span><%=detail.detail.price_old.toLocaleString()%> vnđ</span>
                        <%}else if(detail.detail.status===1) { %>
                            <%=detail.detail.price%> vnđ
                            <span><%=detail.detail.price_old.toLocaleString()%> vnđ</span>
                        <% } else { %>
                            <%=detail.detail.price_old.toLocaleString()%> vnđ
                        <% } %>
                        </div>

                        <p><%-detail.detail.description%></p>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Số lượng:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1" name="quantity">
                                </div>
                            </div>
                            <% if(detail.detail.status!==2) { %>
                                <button class="cart-btn"><span class="icon_bag_alt"></span> Thêm vào giỏ</button>
                            <% } %>
                            
                            <!--<ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>-->
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Tình trạng kho:</span>
                                    <div class="stock__checkbox">
                                    <% if(detail.detail.status===2) { %>
                                        <label for="stockin">
                                            Hết hàng
                                        </label>
                                    <% }else { %>
                                        <label for="stockin">
                                            Còn hàng
                                        </label>
                                    <% } %>
                                    </div>
                                </li>
                                <li>
                                    <span>Kích cỡ:</span>
                                    <div class="btn-group" data-toggle="buttons">
                                    <% all.valueProducts.forEach((valuePro, index)=>{ %>
                                    <% if(valuePro.product_id!=null){ %>
                                    <% if(JSON.stringify(valuePro.value_id.attribute_id)==JSON.stringify(all.attributes[0]._id)){ %>
                                         <label class="btn" style="border: 1px solid black;">
                                            <%=valuePro.value_id.value%>
                                            <input type="radio"  name="size" id=""  autocomplete="off" value="<%=valuePro.value_id.value%>" >
                                        </label>
                                    <%}%>
                                    <% } %>
                                    <% }) %>
                                    </div>
                                </li>
                                <li>
                                    <span>Màu sắc :</span>
                                    <div class="btn-group" data-toggle="buttons">
                                    <% all.valueProducts.forEach((valuePro, index)=>{ %>
                                    <% if(valuePro.product_id!=null){ %>
                                    <% if(JSON.stringify(valuePro.value_id.attribute_id)==JSON.stringify(all.attributes[1]._id)){ %>
                                        <label class="btn" style="border: 1px solid black;padding-left: 50px; position: relative; font-size: 12px;">
                                        <label style="padding: 15px;
                                        background-color: <%=valuePro.value_id.code%>;
                                        position: absolute;
                                        left: 0px;
                                        top: 0px"></label>
                                        <%=valuePro.value_id.value%>
                                        
                                        <input type="radio" name="color" id=""  autocomplete="off" value="<%=valuePro.value_id.value%>" >
                                        </label>
                                        
                                    <%}%>
                                    <% } %>
                                    <% }) %>
                                    </div>
                                </li>
                                
                                
                                <!--<li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>-->
                            </ul>
                        </div>
                        
                    </div>
                </form>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Chi tiết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Đánh giá ( <%=detail.comments.length%> )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Mô tả</h6>
                                <p><%-detail.detail.description%></p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Chi tiết</h6>
                                <p><%-detail.detail.detail%></p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Đánh giá</h6>
                                <% if(detail.comments) {%>
                                <% detail.comments.forEach((cmt, index)=> {%>
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                    <b><%=cmt.name%></b>
                                    <p><%=cmt.content%></p>

                                </div>
                                <% }) %>
                                <% } %>
                                <form class="row g-3 needs-validation" novalidate action="/comment" method="POST">
                                    <input name="product_id" type="hidden" class="form-control" id="validationCustom01" value="<%-detail.detail._id%>">
                                    <div class="col-md-12" style="margin-bottom: 20px;">
                                        <label for="validationCustom01" class="form-label">Nhận xét *</label>
                                        <textarea name="content" type="text" class="form-control" id="validationCustom03" required></textarea>
                                        <div class="valid-feedback">
                                        Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom01" class="form-label">Tên *</label>
                                        <input name="name" type="text" class="form-control" id="validationCustom01" required>
                                        <div class="valid-feedback">
                                        Looks good!
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="validationCustom02" class="form-label">Email *</label>
                                        <input name="email" type="text" class="form-control" id="validationCustom02" required>
                                        <div class="valid-feedback">
                                        Looks good!
                                        </div>
                                    </div>
                                    <div class="col-12" style="margin-top: 20px;">
                                        <button class="btn btn-primary" type="submit">Gửi đánh giá</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>SẢN PHẨM LIÊN QUAN</h5>
                    </div>
                </div>
                <% all.relateds.forEach((relate, index)=>{%>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/uploads/product/<%=relate.product_id.image%>">
                            <!-- <div class="label new">New</div> -->
                            <ul class="product__hover">
                                <li><a href="/uploads/product/<%=relate.product_id.image%>" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <!--<li><a href="#"><span class="icon_heart_alt"></span></a></li>-->
                                <li><a href="/detail/<%=relate.product_id.product_slug%>"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="/detail/<%=relate.product_id.product_slug%>"><%=relate.product_id.name%></a></h6>
                            <!--<div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>-->
                            <div class="product__price"><%=relate.product_id.price_old.toLocaleString()%> vnđ</div>
                        </div>
                    </div>
                </div>
                <% }); %>
                
                
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


<%-include('../layouts/footer.ejs')%>

<!-- Js Plugins -->
<%-include('../layouts/script.ejs')%>
</body>

</html>