<!DOCTYPE html>
<html lang="zxx">

<head>
    <%-include('../layouts/head.ejs')%>
</head>

<body>
    

    <%-include('../layouts/header.ejs')%>


    <%-include('../layouts/banner.ejs')%>

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <% if (message) { %>
            <div class="alert alert-<%=message.type%>"><%= message.message %></div>
        <% } %>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Sản phẩm</h4>
                </div>
            </div>
            <!--<div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <% nav.categoryParent.forEach((category, index)=>{%>
                    <li data-filter=".<%=category.cate_slug%>"><%=category.name%></li>
                    <%});%>
                </ul>
            </div> -->
        </div>
        <div class="row property__gallery">
        <% all.products.forEach((product, index)=>{ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mix 
            <% all.cateProducts.forEach((catePro, index)=>{%>
                <% if(JSON.stringify(catePro.product_id)==JSON.stringify(product._id)){ %>
                    <%=catePro.category_id.cate_slug%>
                <% } %>
            <%});%>
            ">
            
                <div class="product__item 
                        <% if(product.promotion_id && ((product.promotion_id.start_date).valueOf() < (Date.now().valueOf())) && ((product.promotion_id.end_date).valueOf() > (Date.now().valueOf())) && product.promotion_active===true){%>
                            sale
                        <% }else if(product.status===1){ %>sale<%}else {%>:<%}%>" %> ">
                    <div class="product__item__pic set-bg" data-setbg="/uploads/product/<%=product.image%>">
                        <% if(product.promotion_id && ((product.promotion_id.start_date).valueOf() < (Date.now().valueOf())) && ((product.promotion_id.end_date).valueOf() > (Date.now().valueOf())) && product.promotion_active===true){%>
                            <div class="label sale"><%=product.promotion_id.name%></div>
                        <% }else if(product.status===0) { %>
                        <div class="label new">Mới</div>
                        <% } else if(product.status===2) { %>
                        <div class="label stockout">Hết hàng</div>
                        <% } else if(product.status===1) { %>
                        <div class="label sale">Giảm giá</div>
                        <% } %>
                        <ul class="product__hover">
                            <li><a href="/uploads/product/<%=product.image%>" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <!--<li><a href="#"><span class="icon_heart_alt"></span></a></li>-->
                            <li><a href="/detail/<%=product.product_slug%>"><span class="icon_bag_alt"></span></a></li>
                           
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/detail/<%=product.product_slug%>"><%=product.name%></a></h6>
                        <!--<div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>-->
                        <% if(product.promotion_id && ((product.promotion_id.start_date).valueOf() < (Date.now().valueOf())) && ((product.promotion_id.end_date).valueOf() > (Date.now().valueOf())) && product.promotion_active===true){%>
                            <div class="product__price"><%=(product.price_old*(100-product.promotion_id.percent)/100).toLocaleString()%> vnđ<span><%=product.price_old.toLocaleString()%> vnđ</span></div>
                        <% }else if(product.status===1) { %>
                        <div class="product__price"><%=product.price.toLocaleString()%> vnđ<span><%=product.price_old.toLocaleString()%> vnđ</span></div>
                        <% }else { %>
                        <div class="product__price"><%=product.price_old.toLocaleString()%> vnđ</div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
            <div class="col-lg-12 text-center">
                <div class="pagination__option">
                <% if(parseInt(all.page) > 1) {%>
                    <a href="?page=<%=parseInt(all.page)-1 %>"><i class="fa fa-angle-left"></i></a>
                <% } %>
                <% if(Math.floor(parseInt(all.totalPage + 1)) > 1) {%>
                    <% for(var i = 1; i <= Math.floor(parseInt(all.totalPage + 1)); i++) {%>
                    
                        <a href="?page=<%=i%>" <% if(i===parseInt(all.page) || (i===1 && !all.page)){%> style="background-color: black; color: white;" <%}%>  ><%=i%></a>
                    <% } %>
                    <% if(parseInt(all.page) !== Math.floor(parseInt(all.totalPage + 1))){%>
                        <a href="?page=<%=(parseInt(all.page))?parseInt(all.page)+1:2 %>"><i class="fa fa-angle-right"></i></a>
                    <% }%>
                <% }else {%>
                <a href="#">1</a>
                <% } %>
                </div>
                
                    
                    
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<section class="trend spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Nổi bật</h4>
                    </div>
                    <%if(all.productHighlight){%>
                    <% all.productHighlight.forEach((pro, index)=>{%>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <a href="/detail/<%=pro.product_slug%>"><img src="/uploads/product/<%=pro.image%>" alt="" width=90></a>
                        </div>
                        <div class="trend__item__text">
                            <h6><a href="/detail/<%=pro.product_slug%>"  style="color: black;"><%=pro.name%></a></h6>
                            <!--<div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>-->
                            <div class="product__price"><%=pro.price_old.toLocaleString()%> vnđ</div>
                        </div>
                    </div>

                    <% }) %>
                    <%}%>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Bán chạy</h4>
                    </div>
                    <% if(all.topSeller) {%>
                    <% all.topSeller.forEach((pro, index)=>{ %>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <a href="/detail/<%=pro.product.product_slug%>"><img src="/uploads/product/<%=pro.product.image%>" alt="" width=90></a>
                        </div>
                        <div class="trend__item__text">
                            <h6><a href="/detail/<%=pro.product.product_slug%>"  style="color: black;"><%=pro.product.name%></a></h6>
                            <!--<div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>-->
                            <div class="product__price"><%=pro.product.price_old.toLocaleString()%> vnđ</div>
                        </div>
                    </div>
                    <% })%>
                    <% }%>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Hàng mới</h4>
                    </div>
                    <% if(all.productNew) {%>
                    <% all.productNew.forEach((pro, index)=>{ %>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <a href="/detail/<%=pro.product_slug%>"><img src="/uploads/product/<%=pro.image%>" alt="" width=90></a>
                        </div>
                        <div class="trend__item__text">
                            <h6><a href="/detail/<%=pro.product_slug%>"  style="color: black;"><%=pro.name%></a></h6>
                            <!--<div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>-->
                            <div class="product__price"><%=pro.price_old.toLocaleString()%> vnđ</div>
                        </div>
                    </div>
                    <% })%>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
</section>




<%-include('../layouts/footer.ejs')%>

<!-- Js Plugins -->
<%-include('../layouts/script.ejs')%>
</body>

</html>