<!DOCTYPE html>
<html lang="zxx">

<head>
    <%-include('../layouts/head.ejs')%>
</head>

<body>
    

    <%-include('../layouts/header.ejs')%>


    <%-include('../layouts/banner.ejs')%>

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Sản phẩm</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <% nav.categoryParent.forEach((category, index)=>{%>
                    <li data-filter=".<%=category.cate_slug%>"><%=category.name%></li>
                    <%});%>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
        <% all.products.forEach((product, index)=>{ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mix 
            <% all.cateProducts.forEach((catePro, index)=>{%>
                <% if(JSON.stringify(catePro.product_id)==JSON.stringify(product._id)){ %>
                    <%=catePro.category_id.cate_slug%>
                <% } %>
            <%});%>
            ">
            
                <div class="product__item <%=(product.status===1)?"sale":""%>">
                    <div class="product__item__pic set-bg" data-setbg="/uploads/product/<%=product.image%>">
                        <% if(product.status===0) { %>
                        <div class="label new">Mới</div>
                        <% } else if(product.status===2) { %>
                        <div class="label stockout">Hết hàng</div>
                        <% } else if(product.status===1) { %>
                        <div class="label sale">Giảm giá</div>
                        <% } %>
                        <ul class="product__hover">
                            <li><a href="/uploads/product/<%=product.image%>" class="image-popup"><span class="arrow_expand"></span></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="/detail/<%=product.product_slug%>"><span class="icon_bag_alt"></span></a></li>
                           
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/detail/<%=product.product_slug%>"><%=product.name%></a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <% if(product.status===1) { %>
                        <div class="product__price"><%=product.price%> vnđ<span><%=product.price_old%> vnđ</span></div>
                        <% }else { %>
                        <div class="product__price"><%=product.price%> vnđ</div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
    </div>
</section>
<!-- Product Section End -->





<%-include('../layouts/footer.ejs')%>

<!-- Js Plugins -->
<%-include('../layouts/script.ejs')%>
</body>

</html>