<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layouts/head.ejs')%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include('../../layouts/header.ejs')%>
      <!-- Left side column. contains the logo and sidebar -->
      <%- include('../../layouts/sidebar.ejs')%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Data Tables
            <small>advanced tables</small>
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="#"><i class="fa fa-dashboard"></i> Home</a>
            </li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <!-- /.box -->

              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table
                    id="example1"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Danh mục cha</th>
                        <th>slug</th>
                        <th>image</th>
                        <th>nav_active</th>
                        <th>Ngày Tao</th>
                        <th>Tùy chọn</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% categoryAndParent.parents.forEach((category, index)=>{ %>
                      <tr>
                        <td><%- index+1 %></td>
                        <td><%-category.name%></td>

                    <% if(category.parent_id) {%>
                        <td><%-category.parent_id.name%></td>
                    <% }else{ %>
                        <td>Khong co danh muc cha</td>
                    <% } %>

                        <td><%-category.cate_slug%></td>
                        <td><img width=100 src="/uploads/category/<%-category.avatar%>" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></td>
                        
                        <td>
                            <% if (category.nav_active === true) { %>
                                <a href="/category/nav_active/<%-category._id%>"  class="btn btn-success">On</a>
                            <% }else if(category.nav_active === false) { %>
                                <a href="/category/nav_active/<%-category._id%>"  class="btn btn-default">Off</a>
                            <% }; %>
                        </td>
                        <td><%-category.createdAt%></td>
                        <td>
                          <a class="btn btn-warning" href="/category/update/<%-category._id%>">Sửa</a>
                          <a
                            class="btn btn-danger"
                            href="/category/delete/<%-category._id%>"
                            onclick="return confirm('xác nhận xóa')"
                            >Xóa</a
                          >
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>STT</th>
                        <th>Tên danh mục</th>
                        <th>Danh mục cha</th>
                        <th>slug</th>
                        <th>image</th>
                        <th>nav_active</th>
                        <th>Ngày Tao</th>
                        <th>Tùy chọn</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%- include('../../layouts/footer.ejs')%>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <%-include('../../layouts/script.ejs')%>
  </body>
</html>
