<!DOCTYPE html>
<html>
  <head>
    <%- include('../../layouts/head.ejs')%>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <%- include('../../layouts/header.ejs')%>
      <!-- Left side column. contains the logo and sidebar -->
      <%- include('../../layouts/sidebar.ejs')%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%-include('../../layouts/content-header.ejs')%>
        <!-- Main content -->
        <section class="content" >
        
        <div class="row ">
            <div class="box-header">
                <h3 class="box-title"><a class="btn btn-success" href="/dashboard/tieuchi-sanpham">Xem thống kê theo tiêu chí sản phẩm</a></h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-xs-6">
            <form method="GET" style="display: flex;">
                <select class="form-control" name="timezone">
                    <option value="today" <%=total.timezone==="today"?"selected": ""%> >Hôm nay</option>
                    <option value="yesterday" <%=total.timezone==="yesterday"?"selected": ""%> >Hôm qua</option>
                    <option value="week" <%=total.timezone==="week"?"selected": ""%>  >7 ngày qua</option>
                    <option value="month" <%=total.timezone==="month"?"selected": ""%> >30 ngày qua</option>
                    <option value="all" <%=total.timezone==="all"?"selected": ""%> >Tất cả</option>
                </select>
                <button  class="btn btn-success"> Xem</button>
            </form>
            <br>
            </div>
            <div class="col-lg-3 col-xs-6">
            <form method="GET" style="display: flex;">
                <input type="date" name="from"/>
                <input type="date" name="to" />
                <button  class="btn btn-success"> Xem</button>
            </form>
            <br>
            </div>
        </div>
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                <h3><%=total.tong_hoa_don%></h3>
                <p>Tổng hoá đơn</p>
                </div>
                <div class="icon">
                <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                <h3><%=total.tong_doanh_thu.toLocaleString()%><sup style="font-size: 20px"> vnđ</sup></h3>

                <p>Tổng doanh thu</p>
                </div>
                <div class="icon">
                <i class="ion ion-social-usd"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                <!--<h3><%=total.tong_doanh_thu - total.tong_gia_si%> <sup style="font-size: 20px"> vnđ</sup></h3> -->
                <h3><%=total.totalProductSoles%><sup style="font-size: 20px"> chiếc</sup></h3>
                <p>Số lượng sản phẩm đã bán</p>
                </div>
                <div class="icon">
                <i class="ion ion-cash"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                <h3><%=total.khach_mua_hang%></h3>

                <p>Số lượng khách truy cập</p>
                </div>
                <div class="icon">
                <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable ui-sortable">
            <!-- Custom tabs (Charts with tabs)-->
            <!-- <div class="nav-tabs-custom" style="cursor: move;">
                <ul class="nav nav-tabs pull-right ui-sortable-handle">
                <li class="active"><a href="#revenue-chart" data-toggle="tab">Area</a></li>
                <li><a href="#sales-chart" data-toggle="tab">Donut</a></li>
                <li class="pull-left header"><i class="fa fa-inbox"></i> Sales</li>
                </ul>
                <div class="tab-content no-padding">
                <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="300" version="1.1" width="945.906" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="49.546875" y="261" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M62.046875,261H920.906" stroke-width="0.5"></path><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="49.546875" y="202" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">7,500</tspan></text><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M62.046875,202H920.906" stroke-width="0.5"></path><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="49.546875" y="143" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M62.046875,143H920.906" stroke-width="0.5"></path><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="49.546875" y="84.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">22,500</tspan></text><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M62.046875,84.00000000000003H920.906" stroke-width="0.5"></path><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="49.546875" y="25.00000000000003" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.000000000000028" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30,000</tspan></text><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M62.046875,25.00000000000003H920.906" stroke-width="0.5"></path><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="920.906" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013-06</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="824.8974465370595" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013-03</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="730.9760355407046" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-12</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="636.011053311057" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-09</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="540.0024998481166" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-06</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="443.9939463851762" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012-03</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="349.0289641555285" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-12</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="254.0639819258809" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-09</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="158.05542846294045" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-06</tspan></text><text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="62.046875" y="273.5" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2011-03</tspan></text><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;" fill="#74a5c2" stroke="none" d="M62.046875,219.05493333333334C86.0490133657351,219.56626666666668,134.05329009720535,222.62345,158.05542846294045,221.10026666666667C182.05756682867556,219.57708333333335,230.0618435601458,209.1355825136612,254.0639819258809,206.86946666666668C277.8052274832928,204.6279825136612,325.2877185981166,204.88215,349.0289641555285,203.06986666666666C372.7702097129404,201.25758333333332,420.2527008277643,194.9129178506375,443.9939463851762,192.3712C467.9960847509113,189.80155118397084,516.0003614823815,182.51721666666668,540.0024998481166,182.6244C564.0046382138516,182.73158333333333,612.008914945322,204.18057122040074,636.011053311057,193.22866666666667C659.7522988684689,182.39580455373405,707.2347899832928,101.94395359116024,730.9760355407046,95.48533333333336C754.4563882897934,89.09768692449357,801.4170937879708,135.13802307692308,824.8974465370595,141.8436C848.8995849027947,148.69818974358975,896.9038616342648,147.7554,920.906,149.726L920.906,261L62.046875,261Z" fill-opacity="1"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#3c8dbc" d="M62.046875,219.05493333333334C86.0490133657351,219.56626666666668,134.05329009720535,222.62345,158.05542846294045,221.10026666666667C182.05756682867556,219.57708333333335,230.0618435601458,209.1355825136612,254.0639819258809,206.86946666666668C277.8052274832928,204.6279825136612,325.2877185981166,204.88215,349.0289641555285,203.06986666666666C372.7702097129404,201.25758333333332,420.2527008277643,194.9129178506375,443.9939463851762,192.3712C467.9960847509113,189.80155118397084,516.0003614823815,182.51721666666668,540.0024998481166,182.6244C564.0046382138516,182.73158333333333,612.008914945322,204.18057122040074,636.011053311057,193.22866666666667C659.7522988684689,182.39580455373405,707.2347899832928,101.94395359116024,730.9760355407046,95.48533333333336C754.4563882897934,89.09768692449357,801.4170937879708,135.13802307692308,824.8974465370595,141.8436C848.8995849027947,148.69818974358975,896.9038616342648,147.7554,920.906,149.726" stroke-width="3"></path><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="62.046875" cy="219.05493333333334" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="158.05542846294045" cy="221.10026666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="254.0639819258809" cy="206.86946666666668" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="349.0289641555285" cy="203.06986666666666" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="443.9939463851762" cy="192.3712" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="540.0024998481166" cy="182.6244" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="636.011053311057" cy="193.22866666666667" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="730.9760355407046" cy="95.48533333333336" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="824.8974465370595" cy="141.8436" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="920.906" cy="149.726" r="4" fill="#3c8dbc" stroke="#ffffff" stroke-width="1"></circle><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); fill-opacity: 1;" fill="#eaf3f6" stroke="none" d="M62.046875,240.02746666666667C86.0490133657351,239.8072,134.05329009720535,241.35496666666666,158.05542846294045,239.1464C182.05756682867556,236.93783333333334,230.0618435601458,223.33676429872497,254.0639819258809,222.35893333333334C277.8052274832928,221.39173096539162,325.2877185981166,233.23263333333333,349.0289641555285,231.36626666666666C372.7702097129404,229.4999,420.2527008277643,209.2890577413479,443.9939463851762,207.428C467.9960847509113,205.54649107468123,516.0003614823815,214.4391666666667,540.0024998481166,216.39600000000002C564.0046382138516,218.35283333333334,612.008914945322,232.37947613843352,636.011053311057,223.08266666666668C659.7522988684689,213.88690947176687,707.2347899832928,148.2268241252302,730.9760355407046,142.42573333333334C754.4563882897934,136.68839079189686,801.4170937879708,170.47037838827842,824.8974465370595,176.92893333333336C848.8995849027947,183.53101172161175,896.9038616342648,190.23343333333335,920.906,194.66826666666668L920.906,261L62.046875,261Z" fill-opacity="1"></path><path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#a0d0e0" d="M62.046875,240.02746666666667C86.0490133657351,239.8072,134.05329009720535,241.35496666666666,158.05542846294045,239.1464C182.05756682867556,236.93783333333334,230.0618435601458,223.33676429872497,254.0639819258809,222.35893333333334C277.8052274832928,221.39173096539162,325.2877185981166,233.23263333333333,349.0289641555285,231.36626666666666C372.7702097129404,229.4999,420.2527008277643,209.2890577413479,443.9939463851762,207.428C467.9960847509113,205.54649107468123,516.0003614823815,214.4391666666667,540.0024998481166,216.39600000000002C564.0046382138516,218.35283333333334,612.008914945322,232.37947613843352,636.011053311057,223.08266666666668C659.7522988684689,213.88690947176687,707.2347899832928,148.2268241252302,730.9760355407046,142.42573333333334C754.4563882897934,136.68839079189686,801.4170937879708,170.47037838827842,824.8974465370595,176.92893333333336C848.8995849027947,183.53101172161175,896.9038616342648,190.23343333333335,920.906,194.66826666666668" stroke-width="3"></path><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="62.046875" cy="240.02746666666667" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="158.05542846294045" cy="239.1464" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="254.0639819258809" cy="222.35893333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="349.0289641555285" cy="231.36626666666666" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="443.9939463851762" cy="207.428" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="540.0024998481166" cy="216.39600000000002" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="636.011053311057" cy="223.08266666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="730.9760355407046" cy="142.42573333333334" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="824.8974465370595" cy="176.92893333333336" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle><circle style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" cx="920.906" cy="194.66826666666668" r="4" fill="#a0d0e0" stroke="#ffffff" stroke-width="1"></circle></svg><div class="morris-hover morris-default-style" style="left: 306.006px; top: 145px; display: none;"><div class="morris-hover-row-label">2011 Q4</div><div class="morris-hover-point" style="color: #a0d0e0">
    Item 1:
    3,767
    </div><div class="morris-hover-point" style="color: #3c8dbc">
    Item 2:
    3,597
    </div></div></div>
                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;"><svg height="300" version="1.1" width="975.906" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="none" stroke="#3c8dbc" d="M487.953,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,576.180755194977,180.44625304313007" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#3c8dbc" stroke="#ffffff" d="M487.953,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,579.0166473262442,181.4248826052307L615.5681459070204,194.03833029452744A135,135,0,0,1,487.953,285Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#f56954" d="M576.180755194977,180.44625304313007A93.33333333333333,93.33333333333333,0,0,0,404.2378462783141,108.73398312817662" stroke-width="2" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path><path fill="#f56954" stroke="#ffffff" d="M579.0166473262442,181.4248826052307A96.33333333333333,96.33333333333333,0,0,0,401.54700205154563,107.40757544301087L362.38026941747114,88.10097469226493A140,140,0,0,1,620.2946327924656,195.6693795646951Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="none" stroke="#00a65a" d="M404.2378462783141,108.73398312817662A93.33333333333333,93.33333333333333,0,0,0,487.9236784690488,243.333328727518" stroke-width="2" opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path><path fill="#00a65a" stroke="#ffffff" d="M401.54700205154563,107.40757544301087A96.33333333333333,96.33333333333333,0,0,0,487.9227359912682,246.3333285794739L487.91058849987417,284.9999933380171A135,135,0,0,1,366.8650097954186,90.31165416754118Z" stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="487.953" y="140" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;" font-weight="800" transform="matrix(1,0,0,1,0,0)"><tspan dy="140" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan></text><text x="487.953" y="160" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="14px" stroke="none" fill="#000000" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;" transform="matrix(1,0,0,1,0,0)"><tspan dy="160" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan></text></svg></div>
                </div>
            </div> -->
            <!-- /.nav-tabs-custom -->

            

            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="ion ion-clipboard"></i>

                <h3 class="box-title">Sản phẩm doanh thu cao nhất</h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table
                    id="example1"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% total.bestSeller.forEach((product, index)=>{ %>
                      <tr>
                        <td><%= index+1 %></td>
                        <td><%=product.patient_doc[0].product_code%></td>
                        <td><%=product.patient_doc[0].name%></td>
                       
                        <td><img width=100 src="/uploads/product/<%=product.patient_doc[0].image%>" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></td>
                        <td><%=product.totalSalePrice.toLocaleString()%></td>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh</th>
                        <th>Total</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
                </div>
            </div>
            <!-- /.box -->


            </section>
            <!-- /.Left col -->
            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable ui-sortable">

            <!-- Map box -->
            
            <!-- /.box -->

            <!-- solid sales graph -->
            <!--<div class="box box-solid bg-teal-gradient">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="fa fa-th"></i>

                <h3 class="box-title">Sales Graph</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                </div>
                </div>
                <div class="box-body border-radius-none">
                <div class="chart" id="line-chart" style="height: 250px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg height="250" version="1.1" width="647.078" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.90625px; top: -0.59375px;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="41" y="214" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#efefef" d="M53.5,214H622.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="41" y="166.75" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000</tspan></text><path fill="none" stroke="#efefef" d="M53.5,166.75H622.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="41" y="119.5" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000</tspan></text><path fill="none" stroke="#efefef" d="M53.5,119.5H622.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="41" y="72.25" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text><path fill="none" stroke="#efefef" d="M53.5,72.25H622.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="41" y="25" text-anchor="end" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000</tspan></text><path fill="none" stroke="#efefef" d="M53.5,25H622.078" stroke-width="0.4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="517.75809963548" y="226.5" text-anchor="middle" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,5.5)"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan></text><text x="264.9032417982989" y="226.5" text-anchor="middle" font-family="Open Sans" font-size="10px" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;" font-weight="normal" transform="matrix(1,0,0,1,0,5.5)"><tspan dy="3.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text><path fill="none" stroke="#efefef" d="M53.5,188.8063C69.38978614823816,188.5417,101.16935844471445,190.4009875,117.0591445929526,187.74790000000002C132.94893074119076,185.09481250000002,164.72850303766705,168.75624016393445,180.6182891859052,167.5816C196.33536026731468,166.41972766393442,227.76950243013366,180.6438625,243.48657351154313,178.40185C259.2036445929526,176.15983749999998,290.6377867557716,151.8811350409836,306.35485783718104,149.6455C322.2446439854192,147.3852975409836,354.0242162818955,158.0678125,369.9140024301337,160.4185C385.80378857837184,162.7691875,417.5833608748481,179.61898934426227,433.47314702308626,168.451C449.1902181044957,157.40440184426228,480.6243602673147,78.52883321823204,496.3414313487242,71.56015C511.885787363305,64.66804571823205,542.9744993924666,105.24937403846155,558.5188554070473,113.00785C574.4086415552855,120.93873653846155,606.1882138517618,128.9901625,622.078,134.3176" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="53.5" cy="188.8063" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="117.0591445929526" cy="187.74790000000002" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="180.6182891859052" cy="167.5816" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="243.48657351154313" cy="178.40185" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="306.35485783718104" cy="149.6455" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="369.9140024301337" cy="160.4185" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="433.47314702308626" cy="168.451" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="496.3414313487242" cy="71.56015" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="558.5188554070473" cy="113.00785" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="622.078" cy="134.3176" r="4" fill="#efefef" stroke="#efefef" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="display: none;"></div></div>
                </div>
                <div class="box-footer no-border">
                <div class="row">
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                    <div style="display:inline;width:60px;height:60px;"><canvas width="60" height="60"></canvas><input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; appearance: none;"></div>

                    <div class="knob-label">Mail-Orders</div>
                    </div>
                    <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                    <div style="display:inline;width:60px;height:60px;"><canvas width="60" height="60"></canvas><input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; appearance: none;"></div>

                    <div class="knob-label">Online</div>
                    </div>
                    <div class="col-xs-4 text-center">
                    <div style="display:inline;width:60px;height:60px;"><canvas width="60" height="60"></canvas><input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgcolor="#39CCCC" readonly="readonly" style="width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px; background: none; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; appearance: none;"></div>

                    <div class="knob-label">In-Store</div>
                    </div>
                </div>
                </div>
            </div>
            -->


            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      <%- include('../../layouts/footer.ejs')%>
      <!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    <%-include('../../layouts/script.ejs')%>
  </body>
</html>
